## 1. Athletics needs a new breed of scouts and managers
<p>Athletics goes back to the original Olympics. Since then, little has changed. Athletes compete as individuals, seeking to throw the farthest, jump the farthest (or highest) and run the fastest. But people like cheering for teams, waving banners and yelling like mad during matches, wearing their favorite player's jerseys and staying loyal to their side through thick and thin.  </p>
<p><img src="https://assets.datacamp.com/production/project_177/img/NAL_Shield_Blue.png" alt></p>
<p>What if athletics was a team sport? It could potentially be more interesting and would give us a new set of sports analytics to discuss. We might even reduce the incentives to do unsavory things in the pursuit of <em>altius</em>, <em>fortius</em> and <em>citius</em>.</p>
<p>This dataset contains results from American athletes in the horizontal jumps (triple jump and long jump) and throws (shot put, discus, javelin, hammer and weight). Let's read that in and examine women's javelin.</p>

In [11]:
# Load the tidyverse package
library(tidyverse)

# Import the full dataset
data <- read_csv('datasets/athletics.csv')

# Select the results of interest: women's javelin
javelin <- data %>%
  filter(Male_Female == "Female" & Event == "Javelin") %>%
  select(-Male_Female, -Event)
 
# Give yourself a snapshot of your data 
head(javelin)
summary(javelin)

Rows: 2098 Columns: 10
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (3): Event, Male_Female, Athlete
dbl (7): EventID, Flight1, Flight2, Flight3, Flight4, Flight5, Flight6

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  EventID Athlete            Flight1 Flight2 Flight3 Flight4 Flight5 Flight6
1 8       Brittany Borman    54.02   51.21   57.31   52.57   56.97   60.91
2 8       Ariana Ince        48.97   54.85   53.58   55.13   55.27   56.66
3 8       Kara Patterson     50.14   52.10    0.00   50.82   55.88   54.62
4 8       Kimberley Hamilton 47.96    0.00   50.93   54.13   55.15   53.34
5 8       Laura Loht         44.40   53.78   50.56   54.15    0.00   49.02
6 8       Brianna Bain       49.31    0.00   51.32    0.00   48.64   53.05

    EventID         Athlete             Flight1         Flight2
 Min.   :   8.0   Length:178         Min.   : 0.00   Min.   : 0.00
 1st Qu.: 178.0   Class :character   1st Qu.:41.53   1st Qu.:40.23
 Median : 511.0   Mode  :character   Median :48.85   Median :48.85
 Mean   : 796.8                      Mean   :40.80   Mean   :39.87
 3rd Qu.:1703.0                      3rd Qu.:53.20   3rd Qu.:53.07
 Max.   :1859.0                      Max.   :64.94   Max.   :61.38
    Flight3         Flight4         Flight5         Flight6
 Min.   : 0.00   Min.   : 0.00   Min.   : 0.00   Min.   : 0.00
 1st Qu.: 0.00   1st Qu.:40.57   1st Qu.: 0.00   1st Qu.: 0.00
 Median :47.34   Median :49.30   Median :48.01   Median :46.80
 Mean   :34.22   Mean   :39.37   Mean   :32.97   Mean   :34.82
 3rd Qu.:52.08   3rd Qu.:52.10   3rd Qu.:51.44   3rd Qu.:52.44
 Max.   :62.42   Max.   :61.56   Max.   :60.84   Max.   :64.45

## 2. Managers love tidy data
<p>This view shows each athlete’s results at individual track meets. Athletes have six throws, but in these meets only one – their longest – actually matters. If all we wanted to do was talk regular track and field, we would have a very easy task: create a new column taking the max of each row, arrange the data frame by that column in descending order and we’d be done.</p>
<p>But our managers need to do and know much more than that! This is a sport of strategy, where every throw matters. Managers need a deeper analysis to choose their teams, craft their plan and make decisions on match-day.</p>
<p>We first need to make this standard “wide” view tidy data. We’re not completely done with the wide view, but the tidy data will allow us to compute our summary statistics. </p>

In [12]:
# Assign the tidy data to javelin_long
javelin_long <- javelin %>% gather(key = "Flight", value = "Distance", Flight1:Flight6)

# Make Flight a numeric
javelin_long$Flight <- as.numeric(sub("Flight", "", javelin_long$Flight))

# Examine the first 6 rows
head(javelin_long)

  EventID Athlete            Flight Distance
1 8       Brittany Borman    1      54.02
2 8       Ariana Ince        1      48.97
3 8       Kara Patterson     1      50.14
4 8       Kimberley Hamilton 1      47.96
5 8       Laura Loht         1      44.40
6 8       Brianna Bain       1      49.31

## 3. Every throw matters
<p>A throw is a foul if the athlete commits a technical violation during the throw. In javelin, the most common foul is stepping over the release line. Traditionally, the throw is scored as an “F” and it has no further significance. Athletes can also choose to pass on a throw – scored as a “P” – if they are content with their earlier throws and want to “save themselves” for later.</p>
<p>Remember when we said every throw matters? Here, the goal is not for each player to have one great throw. All their throws in each event are summed together, and the team with the highest total distance wins the point. Fouls are scored as 0 and passing, well, your manager and teammates would not be pleased.</p>
<p>Here, we examine which athletes cover the most distance in each of their meets, along with two ways to talk about their consistency.</p>

In [14]:
javelin_totals <- javelin_long %>%
  filter(Distance > 0) %>%
  group_by(Athlete, EventID) %>%
  summarize(TotalDistance = sum(Distance), StandardDev = round(sd(Distance),3), Success = n())

# View 10 rows of javelin_totals
javelin_totals[60:70,]

`summarise()` has grouped output by 'Athlete'. You can override using the
`.groups` argument.

   Athlete         EventID TotalDistance StandardDev Success
1  Emma Fitzgerald  176     89.40        1.966       2
2  Emma Fitzgerald  815    217.08        1.262       5
3  Erma Gene Evans  247    196.99        1.806       4
4  Fawn Miller       20    227.19        0.317       4
5  Fawn Miller     1575    149.15        1.271       3
6  Gabby Kearney    176    134.69        2.748       3
7  Gabby Kearney    815    240.72        1.479       5
8  Grace Zollman    178    180.26        0.731       4
9  Grace Zollman    180    236.12        3.201       5
10 Grace Zollman    247    196.23        3.037       4
11 Haley Crouser    938    312.02        2.295       6

## 4. Find the clutch performers
<p>In many traditional track meets, after the first three throws the leaders in the field are whittled down to the top eight (sometimes more, sometimes less) athletes. Like the meet overall, this is solely based on their best throw of those first three.&nbsp;</p>
<p>We give the choice to the managers. Of the three athletes who start each event, the manager chooses the two who will continue on for the last three throws. The manager will need to know which players tend to come alive – or at least maintain their form – in the late stages of a match. They also need to know if a player’s first three throws are consistent with their playing history. Otherwise, they could make a poor decision about who stays in based only on the sample unfolding in front of them.</p>
<p>For now, let’s examine just our top-line stat – total distance covered – for differences between early and late stages of the match.</p>

In [0]:
javelin <- ....
# .... YOUR CODE FOR TASK 4 ....

# Examine the last ten rows
# .... YOUR CODE FOR TASK 4 ....

## 5. Pull the pieces together for a new look at the athletes
<p>The aggregate stats are in two data frame. By joining the two together, we can take our first rough look at how the athletes compare.</p>

In [0]:
javelin_totals <- ....
# .... YOUR CODE FOR TASK 5 ....
# .... YOUR CODE FOR TASK 5 ....

# Examine the first ten rows
# .... YOUR CODE FOR TASK 5 ....

## 6. Normalize the data to compare across stats
<p>The four summary statistics - total distance, standard deviation, number of successful throws and our measure of early vs. late - are on different scales and measure very different things. Managers need to be able to compare these to each other and then weigh them based on what is most important to their vision and strategy for the team. A simple normalization will allow for these comparisons.</p>

In [0]:
.... <- .... {
    (result - min(result)) / (max(result) - min(result))
}
aggstats <- c("TotalDistance", "StandardDev", "Success", "diff")
.... <- javelin_totals %>%
 ungroup() %>%
# .... YOUR CODE FOR TASK 6 ....
# .... YOUR CODE FOR TASK 6 ....
# .... YOUR CODE FOR TASK 6 ....

head(javelin_norm)

## 7. What matters most when building your squad?
<p>Managers have to decide what kind of players they want on their team - who matches their vision, who has the skills they need to play their style of athletics and - ultimately - who will deliver the wins. A risk-averse manager will want players who rarely foul. The steely-eyed manager will want the players who can deliver the win with their final throws. </p>
<p>Like any other sport (or profession), rarely will any one player be equally strong in all areas. Managers have to make trade-offs in selecting their teams. Our first batch of managers have the added disadvantage of selecting players based on data from a related but distinct sport. Our data comes from traditional track and field meets, where the motivations and goals are much different than our own. </p>
<p>This is why managers make the big money and get sacked when results go south.</p>

In [0]:
weights <- c(...., ...., ...., ....)
javelin_team <- javelin_norm %>%
# .... YOUR CODE FOR TASK 7
# .... YOUR CODE FOR TASK 7
# .... YOUR CODE FOR TASK 7
# .... YOUR CODE FOR TASK 7

javelin_team

## 8. Get to know your players
<p>The data has spoken! Now we have our five javelin throwers but we still don’t really know them. The <code>javelin_totals</code> data frame has the data that went into the decision process, so we will pull that up. This gives us an idea of what they each bring to the team. </p>
<p>We can also take a look at how they compare to the pool of athletes we started from by taking the mean and maximum of each statistic.</p>

In [0]:
team_stats <- javelin_totals %>% 
# .... YOUR CODE FOR TASK 8 ....
# .... YOUR CODE FOR TASK 8 ....

pool_stats <- data.frame(do.call('cbind', sapply(javelin_totals, function(x) if(is.numeric(x)) c(max(x), mean(x)))))
pool_stats$MaxAve <- c("Maximum", "Average")
pool_stats <- pool_stats %>%
    gather(key="Statistic", value="Aggregate", -MaxAve)
                                                 
# Examine team stats
# .... YOUR CODE FOR TASK 8 ....

## 9. Make your case to the front office
<p>The manager knows what she wants out of the team and has the data to support her choices, but she still needs to defend her decisions to the team owners. They do write the checks, after all. </p>
<p>The owners are busy people. Many of them work other jobs and own other companies. They trust their managers, so as long the manager can give them an easy-to-digest visual presentation of why they should sign these five athletes out of all the others, they will approve.</p>
<p>A series of plots showing how each athlete compares to the maximum and the average of each statistic will be enough for them.</p>

In [0]:
p <- team_stats %>%
# .... YOUR CODE FOR TASK 9 ....
# .... YOUR CODE FOR TASK 9 ....
# .... YOUR CODE FOR TASK 9 ....
# .... YOUR CODE FOR TASK 9 .... +
  geom_hline(data=pool_stats, aes(yintercept=Aggregate, group=Statistic, color=MaxAve), size=1) +
#   labs(title=".... Your Team Name....: Women's Javelin", color="Athlete pool maximum / average") +
  scale_fill_hue(l=70) +
  scale_color_hue(l=20) +
  theme_minimal() +
  theme(axis.text.x=element_blank(), axis.title.x=element_blank(), axis.title.y=element_blank())
  
p

## 10. Time to throw down
<p>Before the athletics season opens, the manager will perform similar analyses for the other throws, the jumps, and running events. Then you'll game out different permutations of your team and your opponent to come up with the best lineup and make the best decisions on match day. For now, since it's what we know best and we're almost out of time, let's simulate a simple javelin match. </p>
<p>The winner is the team that throws the highest combined distance: six throws from each of your three players against six throws from each of the opponent's three players.</p>

In [0]:
home <- c(....,....,....)
away <- sample(1:nrow(javelin_totals), 3, replace=FALSE)

HomeTeam <- round(sum(team_stats$TotalDistance[home]),2)
AwayTeam <- round(sum(javelin_totals$TotalDistance[away]),2)

print(paste0("Javelin match, Final Score: ", HomeTeam, " - ", AwayTeam))
ifelse(HomeTeam > AwayTeam, print("Win!"), print("Sometimes you just have to take the L."))